/* Desktop Responsive Development. */

/* This is my first responsive web development, and I found out late that the good approach is mobile-first approach,
but as I can't start deleting and re-writing codes, I'm sitting with this mistake, but promise never to repeat it */
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
}
/* I wanted to use the below commented-out code to centralize the 
entire element but noticed that it's not responsive with the mobile-design */ 
/*html{
    display: table;
    margin: auto;
}
body{
    display: table-cell;
    vertical-align: middle;
}*/
figure img{
    width: 16rem;
    height: 23rem; 
    border-radius: 10px 0px 0px 10px;
    margin-right: -20px;  
    margin-left: -40px; 
    margin-top: -16px;
    margin-bottom: -21px;
}
/* Mobile image not needed yet */
.mobile{
    display: none;
}
/* Over-all grid container */
.container{
    height: 23rem;
    width: 34rem;
    display: grid;
    background-color: hsl(0, 0%, 100%);
    grid-template-columns: repeat(2, 1fr);
    margin: 20vh auto 0px;
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 300px;
}
/* Grid-items used as container in their respective sections */
.headerwrapper{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.sectionwrapper{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.price{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 30px;
    margin-top: -25px;
}
h5{
    color: hsl(228, 12%, 48%);
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    grid-row-start: 1;
    height: 30px;
    margin: auto 0px;
}
.paragraph{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: -6px;
}
.currentprice{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 25px;
    color: hsl(158, 36%, 37%);
    margin-top: 5px;
}
.oldprice{
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
}
button{
    width: 250px;
    height: 40px;
    border-radius: 8px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: -25px;
}
button:hover{
    background-color: hsl(158, 64%, 15%);
    cursor: pointer;
}


  /* Attempted mobile design */

@media only screen and (max-width: 375px){
    body{
        background-color: hsl(30, 38%, 92%);
    }
    *{
        box-sizing: border-box;
    }
    .mobile{
        display: inline-block;
        width: 21.2rem;
        height: 16rem;
        border-radius: 10px 10px 0px 0px;
        margin-right: -20px;  
        margin-left: -60px; 
        margin-top: -19px;
        margin-bottom: -21px;
    }
    /* Mobile image not needed yet */
    figure .desktop{
        display: none;
    }
    .container{
        background-color: hsl(0, 0%, 100%);
        width: 21.2rem;
        height: 48rem;
        padding: 1.25rem;
        padding-top: 0.2rem;
        margin: 10px;
        margin-top: 20px;
        border-radius: 10px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        align-content: center;
    }
    .headerwrapper{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    h5{
        grid-row-start: 1;
        font-size: 16px;
        height: 30px;
        margin-top: -2.5rem;
    }
    div .item{
        margin-top: 20rem;
        margin-left: -21rem;
        padding: 0.2rem;
    }
    h1{
        line-height: 35px;
        margin-top: -45px;
        font-size: 33px;
    }
    .sectionwrapper{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    .paragraph{
        font-size: 16px;
        margin-top: 4px;
        line-height: 1.7em;
    }
    .price{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .currentprice{
        font-size: 35px;
        margin-top: 40px;
    }
    .oldprice{
        font-size: 14px;
        margin-top: 52px;
        margin-left: 4px;
    }
    button{
        width: 18rem;
        height: 3.8rem;
        border-radius: 10px;
        font-size: 18px;
        margin-bottom: 15px;
    }
}



